<!DOCTYPE html>
<html>
<head>
  <title>Core attendance</title>
  <%= stylesheet_link_tag    "core_attendance/application", media: "all" %>
  <%= javascript_include_tag "core_attendance/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
